[submodule "assets/javascript/less.js"]
	path = assets/javascript/less.js
	url = git://github.com/cloudhead/less.js.git
[submodule "assets/less/more"]
	path = assets/less/more
	url = git://github.com/Wolfy87/more.git
[submodule "assets/javascript/prefixfree"]
	path = assets/javascript/prefixfree
	url = git://github.com/LeaVerou/prefixfree.git
[submodule "assets/javascript/string_score"]
	path = assets/javascript/string_score
	url = git://github.com/joshaven/string_score.git
[submodule "assets/css/normalize"]
	path = assets/css/normalize
	url = git://github.com/necolas/normalize.css.git
