[submodule "assets/javascript/less.js"]
	path = assets/javascript/less.js
	url = git://github.com/cloudhead/less.js.git
[submodule "assets/less/more"]
	path = assets/less/more
	url = git://github.com/Wolfy87/more.git
