{% if page.type == 'post' %}
<div class='pagination'>
	<div class='span-4 suffix-1 alpha'>
		{% if page.next %}
		&larr; <a href='{{ page.next.url }}' title='{{ page.next.title }}'>Next post</a>
		{% endif %}
		&nbsp;
	</div>

	<div class='span-4 prefix-1 omega older-pagination'>
		&nbsp;
		{% if page.previous %}
		<a href='{{ page.previous.url }}' title='{{ page.previous.title }}'>Previous post</a> &rarr;
		{% endif %}
	</div>
</div>
{% else %}
{% if paginator.total_pages > 1 %}
<div class='pagination'>
	<div class='span-4 suffix-1 alpha'>
		{% if paginator.previous_page %}
		&larr; <a href='{% if paginator.previous_page == 1 %}/{% else %}/page{{ paginator.previous_page }}{% endif %}'>Next page</a>
		{% endif %}
		&nbsp;
	</div>

	<div class='span-4 prefix-1 omega older-pagination'>
		&nbsp;
		{% if paginator.next_page %}
		<a href='/page{{ paginator.next_page }}'>Previous page</a> &rarr;
		{% endif %}
	</div>
</div>
{% endif %}
{% endif %}