<!DOCTYPE html>
<html>
	<head>
		<title>{% if page.title %}{{ page.title }} // {% endif %} Code example from oli.me.uk</title>
		<meta charset='utf-8'>
		<meta name='robots' content='noindex'>
		<!--[if lt IE 9]><script type='text/javascript' src='/javascripts/html5shiv.js'></script><![endif]-->
		<link rel='stylesheet' type='text/css' href='/stylesheets/normalize.css'>
		<script type='text/javascript' src='/javascripts/prefixfree.min.js'></script>
	</head>
	
	<body>
		{{ content }}
	</body>
</html>