<!DOCTYPE html>
<html>
	<head>
		<title>{% if page.title %}{{ page.title }}{% else %}Untitled{% endif %}</title>
		<meta charset='utf-8'>
		
		{% for css in page.styles.css %}
		<link rel='stylesheet' type='text/css' href='{{ css }}'>
		{% endfor %}
		
		{% for less in page.styles.less %}
		<link rel='stylesheet/less' type='text/css' href='{{ less }}'>
		{% endfor %}
	</head>
	
	<body>
		{{ content }}
		
		{% for script in page.scripts %}
		<script type='text/javascript' src='{{ script }}'></script>
		{% endfor %}
	</body>
</html>