<!DOCTYPE html>
<html>
	<head>
		<title>{% if page.title %}{{ page.title }}{% else %}Untitled{% endif %}</title>
		<meta charset='utf-8'>
		<!--[if lt IE 9]><script type='text/javascript' src='/assets/javascript/html5.min.js'></script><![endif]-->
		<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Sans+Mono|Arvo'>
		<link rel='stylesheet' type='text/css' href='/assets/css/normalize.css/normalize.css'>
		<link rel='stylesheet' type='text/css' href='/assets/css/pygments/native.css'>
		<link rel='stylesheet/less' type='text/css' href='/assets/less/main.less'>
		<script type='text/javascript' src='/assets/javascript/less.js/dist/less-1.2.1.js'></script>
		<script type='text/javascript' src='/assets/javascript/prefixfree/prefixfree.min.js'></script>
	</head>
	
	<body>
		{{ content }}
		
		<script type='text/javascript' src='/assets/javascript/mootools.js'></script>
	</body>
</html>