ErrorDocument 404 /errors/404/

RewriteEngine On

RewriteCond %{HTTP_HOST} ^www.oli.me.uk$ [NC]
RewriteRule ^(.*)$ http://oli.me.uk/$1 [R=301,L]

RedirectMatch 301 ^(/\d{4}/\d{2}/\d{2}/[\w\-]+).html$ $1/
RedirectMatch 301 ^/page(\d+)/$ /page/$1/

RedirectMatch 301 ^/(about|contact).html$ /about-me/
RedirectMatch 301 ^/rss.xml$ /atom.xml
RedirectMatch 301 ^/tags.html$ /archives/

RedirectMatch 301 ^/(outline|CSSOff|more|NyanTunnel|Photon) http://wolfy87.github.io/$1/